<footer
  class="footer"
  fxlayout.gt-xs="row"
  fxLayout.xs="column"
  fxFlex="1 1 100"
  fxLayoutAlign.gt-sm="space-between center"
  fxLayoutAlign.lt-md="center center"
  fxLayoutGap="8px"
>
  <span
    class="mat-h3 copyright"
    fxLayoutAlign="center end"
  >

  </span>
  <span
    class="mat-h3 copyright"
    fxLayoutAlign="center end"
  >
    © {{ currentYear }}&nbsp;&nbsp;
    <a
      class="mat-body-strong"
      href="https://www.linkedin.com/in/stefano-salidu-66aa496a"
      target="_blank"
    >
      <strong>Hextar</strong>
    </a>
  </span>
</footer>
