@import "~theme/theme-variables.scss";
@import "~theme/theme-media.scss";
@import "~theme/theme-typography.scss";

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 !important;
  z-index: 5;
  .mat-toolbar-row {
    padding-right: $header-padding;
    padding-left: $header-padding;
    height: 100%;
    &.main {
      height: $header-height;
      background-color: mat-color($primary, 500);
    }
    .mat-h1 {
      color: $light-primary-text !important;
    }
  }
}
