<div
  fxLayout="column"
  fxFlexFill
  fxLayoutAlign="center center"
  fxLayoutGap="16px"
  [ngStyle]="{
    'min-height': (fullHeight) ? '100%' : minHeight+'px',
    'max-height': (fullHeight) ? '100%' : maxHeight+'px'
  }"
>
  <div
    class="inline-loader"
    fxFlex="0 0 {{(fullHeight) ? '100%' : maxHeight+'px'}}"
    fxLayoutAlign="center center"
    [hidden]="!isLoading"
  >
    <mat-progress-spinner
      mode="indeterminate"
      [color]="color"
      [strokeWidth]="4"
      [diameter]="32 * size"
    ></mat-progress-spinner>
    <span class="message">{{ message }}</span>
  </div>
</div>
