<div
  class="container"
  fxLayout="row"
  fxFlex="1 1 100"
  fxFlex.xs="1 1 100"
  fxFlex.lg="1 1 100"
  fxLayoutAlign.xs="center {{tall ? 'stretch' : 'start'}}"
  fxLayoutAlign.md="start {{tall ? 'stretch' : 'start'}}"
  fxLayoutAlign.lg="center {{tall ? 'stretch' : 'start'}}"
  fxLayoutAlign.gt-lg="center {{tall ? 'stretch' : 'start'}}"
>
  <ng-container *ngIf="!wide; else wideContent">
    <div
      fxLayout="column"
      fxFlex.xs="100"
      fxFlex.sm="1 1 100"
      fxFlex.md="1 1 100"
      fxFlex.lg="1 1 60"
      fxFlex.gt-lg="1 1 60"
    >
      <ng-content select=".daav-content"></ng-content>
    </div>
  </ng-container>
  <ng-template #wideContent>
    <div
      fxLayout="column"
      fxFlex.xs="100"
      fxFlex.sm="1 1 100"
      fxFlex.md="1 1 100"
      fxFlex.lg="1 1 100"
      fxFlex.gt-lg="1 1 100"
    >
      <ng-content select=".daav-wide-content"></ng-content>
    </div>
  </ng-template>
</div>

