<app-daav-container [tall]="true" [wide]="false">
  <ng-container class="daav-content">
    <div
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="16px"
    >
      <!-- Title -->
      <div
        fxLayout="column"
        fxLayoutAlign="center stretch"
        fxFlex="0 0 100%"
      >
        <div style="text-align:center">
          <h1>Data Analysis and Visualization</h1>
        </div>
      </div>

      <!-- Stock Chart -->
      <div
        fxLayout="row"
        fxLayoutAlign="center stretch"
        fxFlex="0 0 100%"
      >
        <ng-container *ngIf="!isLoading; else loading">
          <!-- Stock chart -->
          <ng-container *ngIf="(stock$ | async) as stock; else noData">

            <!-- Stock chart -->
            <app-chart
              [headingTitle]="'Stock chart'"
              [headingDescription]=""
              [yTitle]="'Closing price'"
              [xTitle]="'Time'"
              [labelHover]="'Closing price'"
              [stocks]="stock"
              [mobile]="mobile"
            ></app-chart>

            <!-- DEBUGGING -->
            <ng-container *ngIf="false">
            <pre>
              {{ stock | json }}
            </pre>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- Loading spinner -->
        <ng-template #loading>
          <mat-progress-spinner
            mode="indeterminate"
            [strokeWidth]="4"
            [diameter]="32"
          ></mat-progress-spinner>
        </ng-template>

        <!-- No data -->
        <ng-template #noData>
          No data loaded
        </ng-template>
      </div>
    </div>
  </ng-container>
</app-daav-container>
