<app-daav-container [tall]="true" [wide]="false">
  <ng-container class="daav-content">
    <div
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="32px"
    >
      <!-- Stock Chart -->
      <div
        fxLayout="column"
        fxLayoutAlign="stretch stretch"
        fxFlex="0 0 100%"
        fxLayoutGap="32px"
      >
        <ng-container *ngIf="!isLoading; else loading">
          <!-- Stock chart -->
          <ng-container *ngIf="(stock$ | async) as stock; else noData">

            <!-- Stock chart -->
            <app-chart
              [headingTitle]="'Stock Chart'"
              [headingDescription]=""
              [yTitle]="'Closing price'"
              [xTitle]="'Time'"
              [labelHover]="'Closing price'"
              [stocks]="stock"
              [mobile]="mobile"
            ></app-chart>

            <!-- Forecasting table-->
            <app-table
              [headingTitle]="'Closing Price Forecast'"
              [bottomDescription]="'Calculated using the average of the last 3 days'"
              [stocks]="stock"
              [mobile]="mobile"
            >
            </app-table>

            <!-- DEBUGGING -->
            <ng-container *ngIf="false">
            <pre>
              {{ stock | json }}
            </pre>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- Loading spinner -->
        <ng-template #loading>
          <div
            fxFlexFill
            fxLayoutAlign="center center"
            [ngStyle]="{'height.px': 380}"
          >
            <mat-progress-spinner
              mode="indeterminate"
              [strokeWidth]="8"
              [diameter]="64"
            ></mat-progress-spinner>
          </div>
        </ng-template>

        <!-- No data -->
        <ng-template #noData>
          No data loaded
        </ng-template>
      </div>
    </div>
  </ng-container>
</app-daav-container>
