<app-daav-container [tall]="true" [wide]="false">
  <ng-container class="daav-content">
    <div
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="32px"
    >
      <!-- Data info -->
      <div
        fxLayout="column"
        fxLayoutAlign="space-between start"
        fxLayoutGap="32px"
      >
        <span
          class="align-center mat-h2"
        >
          Stock Analyzed and Date Range
        </span>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="16px"
        >
          <mat-chip-list
            aria-label="Fish selection"
            fxLayout="row"
            fxLayoutGap="16px"
          >
            <ng-container *ngFor="let s of stocksToAnalyse; let idx = index">
              <mat-chip
                class="daav-chip-list"
                [ngStyle]="{'background-color': stocksColors[idx]}"
                [disableRipple]="true"
              >
              <span class="mat-caption">
                <strong>{{s}}</strong>
              </span>
              </mat-chip>
            </ng-container>
          </mat-chip-list>
          <span class="mat-h4">
            From {{start | date: 'MMM dd, yyy'}} to {{end | date: 'MMM dd, yyy'}}
          </span>
        </div>
      </div>
      <!-- Stock Chart -->
      <div
        fxLayout="column"
        fxLayoutAlign="stretch stretch"
        fxFlex="0 0 100%"
        fxLayoutGap.gt-sm="64px"
        fxLayoutGap.lt-md="32px"
        [ngStyle]="{'padding-bottom.px': 64}"
      >
        <ng-container *ngIf="!isLoading; else loading">
          <!-- Stock chart -->
          <ng-container *ngIf="(stock$ | async) as stock; else noData">

            <!-- Stock chart -->
            <app-chart
              [headingTitle]="'Stock Chart'"
              [headingDescription]=""
              [yTitle]="'Closing price'"
              [xTitle]="'Time'"
              [labelHover]="'Closing price'"
              [stocks]="stock"
              [colors]="stocksColors"
              [mobile]="mobile"
              [filter]="stocksToAnalyse"
              [start]="start"
              [end]="end"

            ></app-chart>

            <!-- Forecasting table-->
            <app-table
              [headingTitle]="'Closing Price Forecast'"
              [bottomDescription]="'*Calculated using the average closing price of the last 3 days.'"
              [stocks]="stock"
              [mobile]="mobile"
            >
            </app-table>

            <!-- DEBUGGING -->
            <ng-container *ngIf="false">
            <pre>
              {{ stock | json }}
            </pre>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- Loading spinner -->
        <ng-template #loading>
          <div
            fxFlexFill
            fxLayoutAlign="center center"
            [ngStyle]="{'height.px': 380}"
          >
            <mat-progress-spinner
              mode="indeterminate"
              [strokeWidth]="8"
              [diameter]="64"
            ></mat-progress-spinner>
          </div>
        </ng-template>

        <!-- No data -->
        <ng-template #noData>
          No data loaded
        </ng-template>
      </div>

    </div>
  </ng-container>
</app-daav-container>
