@import "~theme/theme-variables.scss";
@import "~theme/theme-media.scss";
@import "~theme/theme-typography.scss";

:host {
  display: flex;
  flex: 1;
  min-height: 100%;
  width: 100%;

  ::ng-deep .mat-divider {
    border-top-color: map_get($mat-grey, 700) !important;
    margin: 0 $margin-default;
  }

  .mat-chip-list {
    margin-top: 0;
    .daav-chip-list {
      margin: 0 $margin-default--2 0 0;
      color: $light-primary-text !important;
    }

    @include media("<=sm") {
      margin-top: $margin-default;
    }
  }
}
