<div
  fxFlex="0 0 100%"
  fxLayout="column"
  fxLayoutGap="16px"
>
  <div
    fxLayout="column"
    fxFlex="0 0 auto"
    [ngStyle.gt-md]="{'width' : '100%'}"
    [ngStyle.md]="{'width' : '100%'}"
    [ngStyle.lt-md]="{'width' : '100%'}"
    fxLayoutAlign.gt-sm="space-between start"
    fxLayoutAlign.lt-md="space-between center"
    *ngIf="headingTitle"
  >
    <span
      class="align-center mat-h2"
      *ngIf="headingTitle"
    >
      {{headingTitle}}
    </span>
  </div>
  <mat-card fxFlex="100">
    <mat-card-content>
      <ng-container *ngIf="stockWithId?.length > 0; else emptyList">
        <app-daav-table
          fxFlexFill
          [data]="data"
          [displayColumns]="displayColumns"
          [columns]="displayColumns | tableColumnId"
          [initialSort]="initialSort"
        >
        </app-daav-table>
      </ng-container>
      <ng-template #emptyList>
        <span class="mat-body">
          Nessun risultato
        </span>
      </ng-template>
    </mat-card-content>
  </mat-card>
  <div
    fxLayout="column"
    fxFlex="0 0 auto"
    [ngStyle.gt-md]="{'width' : '100%'}"
    [ngStyle.md]="{'width' : '100%'}"
    [ngStyle.lt-md]="{'width' : '100%'}"
    fxLayoutAlign.gt-sm="space-between end"
    fxLayoutAlign.lt-md="space-between center"
  >
    <span
      class="align-left mat-caption mat-gray"
      [ngStyle]="{'color': '#a9a9a9'}"
    >
      The closing price is forecasted using a linear regression model, with a confidence of {{confidence}}.
    </span>
  </div>
</div>

