<!-- ----------------------------------------------------------------- -->
<!-- LOADING ---------------------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellLoading let-context xmlns:svg="">
  <div
    fxFill
  >
    <div
      #svgWrapper
      fxLayout="column"
      fxFlex="0 0 100"
      fxLayoutAlign="center stretch"
      fxLayoutGap="0"
    >
      <ng-container *ngIf="svgWrapper">
        <content-loader
          fxFlex="0 0 100"
        >
          <svg:rect x="0" y="12" rx="12" ry="2" width="12" height="12" />
          <svg:rect x="36" y="12" rx="6" ry="6" [attr.width]="svgWrapper?.offsetWidth * .8" height="12" />
          <svg:rect x="36" y="48" rx="6" ry="6" [attr.width]="svgWrapper?.offsetWidth * .6" height="12" />
        </content-loader>
      </ng-container>
    </div>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- AVATAR ---------------------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellAvatar let-context>
  <div
    fxLayout="row"
    fxFlex="100"
    fxLayoutAlign.gt-xs="{{context?.align === 'left' ? 'start' : 'center'}} center"
    fxLayoutAlign.lt-sm="start center"
    fxLayoutGap="16px"
  >
    <div class="{{context?.class ? context?.class + ' ' : ''}}avatar-wrapper">
      <ng-container *ngIf="context?.value; else noLink">
        <a
          href="{{context?.value}}"
          title="{{context?.label}}"
          target="_blank"
          appStopEventPropagation
        >
          <img
            class="avatar"
            src="{{context?.image}}"
            alt="{{context?.label}}"
          />
        </a>
      </ng-container>
      <ng-template #noLink>
        <a
          title="{{context?.label}}"
        >
          <img
            class="avatar"
            src="{{context?.image}}"
            alt="{{context?.label}}"
          />
        </a>
      </ng-template>
    </div>
    <div fxHide.gt-xs>
      <strong>
        {{context?.label}}
      </strong>
    </div>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- VALUE ---------------------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellValue let-context>
  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxFlex="100"
    fxLayoutAlign.gt-sm="space-between center"
    fxLayoutAlign.lt-md="start start"
    fxLayoutGap="16px"
    *ngIf="context?.label"
  >
    <div
      class="mobile-label"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxFlex.gt-sm="1 1 100"
      fxFlex.lt-md="0 0 32px"
      fxLayoutAlign.gt-xs="start center"
      fxLayoutAlign.lt-sm="center center"
      [ngStyle]="{'width': '100%'}"
    >
      <span
        class="align-left"
        fxFill
        fxFlex.sm="100"
      >
        {{ context?.label }}
      </span>
    </div>
    <div
      fxLayout="row"
      fxFlex.gt-sm="1 1 100"
      fxFlex.lt-md="0 0 32px"
      fxLayoutAlign.gt-xs="start center"
      fxLayoutAlign.lt-sm="center start"
      [ngStyle]="{'width': '100%'}"
    >
      <span
        [ngClass]="{
          'align-left': context?.align === 'left',
          'align-center': context?.align !== 'left'
        }"
        class="value"
        fxFlexFill
        fxFlex.sm="100"
      >
        <div [innerHtml]="context?.value | safeHtml"></div>
      </span>
    </div>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- LONG TEXT ------------------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellLongText let-context>
  <div
    fxLayout.gt-xs="row"
    fxLayout.lt-sm="column"
    fxFlex="100"
    fxLayoutAlign="space-between center"
    fxLayoutGap="16px"
    *ngIf="context?.label"
  >
    <span
      class="mobile-label"
      fxFill
      fxFlex.sm="100"
    >
      {{ context?.label }}
    </span>
    <span
      [ngClass]="{
        'align-left': context?.align === 'left',
        'align-center': context?.align !== 'left'
      }"
      class="value"
      fxFlexFill
      fxFlex.sm="100"
    >
      <div [innerHtml]="context?.value | safeHtml"></div>
    </span>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- TWO ROWS ------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellTwoRows let-context>
  <div
    fxLayout="column"
    fxFlex="100"
    fxLayoutAlign="space-between start"
    fxLayoutGap.gt-sm="0"
    fxLayoutGap.lt-md="{{(mobileBetterResponsive ? '8px' : '0')}}"
    *ngIf="context?.label"
  >
    <div fxLayout="column" fxLayoutAlign="center start">
      <div [ngClass]="{ 'align-left': context?.align === 'left' }" class="title mat-body-2" fxFlex="1 1 auto">
        <div [innerHtml]="context?.title | safeHtml"></div>
      </div>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="center start"
      fxLayoutGap.gt-sm="0"
      fxLayoutGap.lt-md="{{(mobileBetterResponsive ? '8px' : '0')}}"
    >
      <div
        [ngClass]="{ 'align-left': context?.align === 'left' }"
        class="desc grey-text mat-caption"
        fxFlex="1 1 auto"
      >
        <div [innerHtml]="context?.description | safeHtml"></div>
      </div>
    </div>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- THREE ROWS ------------------------------------------------------ -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellThreeRows let-context>
  <div
    fxLayout="column"
    fxFlex="100"
    fxLayoutAlign="space-between start"
    fxLayoutGap.gt-sm="0"
    fxLayoutGap.lt-md="{{(mobileBetterResponsive ? '8px' : '0')}}"
    *ngIf="context?.label"
  >
    <div fxLayout="column" fxLayoutAlign="center start">
      <div [ngClass]="{ 'align-left': context?.align === 'left' }" class="title mat-h4" fxFlex="1 1 auto">
        <strong>
          <div [innerHtml]="context?.title | safeHtml"></div>
        </strong>
      </div>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="center start"
      fxLayoutGap.gt-sm="0"
      fxLayoutGap.lt-md="{{(mobileBetterResponsive ? '8px' : '0')}}"
    >
      <div [ngClass]="{ 'align-left': context?.align === 'left' }" class="desc mat-caption" fxFlex="1 1 auto">
        <div [innerHtml]="context?.description | safeHtml"></div>
      </div>
      <div [ngClass]="{ 'align-left': context?.align === 'left' }" class="time grey-text mat-caption" fxFlex="1 1 auto">
        {{ context?.time }}
      </div>
    </div>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- CHECKBOX -------------------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellCheckbox let-context>
  <div
    fxFlex="100"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutAlign.lt-md="start center"
    fxLayoutGap="16px"
    [matTooltip]="context?.tooltip"
  >
    <mat-checkbox
      color="primary"
      [checked]="context?.checked === 'true'"
      [disabled]="context?.disabled"
      (click)="callActionCallback(context?.callback, context?.index)"
      appStopEventPropagation
    >
    </mat-checkbox>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- ACTION --------------------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellAction let-context>
  <div fxFlex="100" fxLayoutAlign="center center" fxLayoutGap="16px" [matTooltip]="context?.tooltip">
    <button
      [ngClass]="getClass(context?.class)"
      mat-icon-button
      type="button"
      fxLayoutAlign="center center"
      (click)="callActionCallback(context?.callback, context?.index)"
      [disabled]="context?.disabled"
      appStopEventPropagation
    >
      <ng-container *ngIf="!context?.svgIcon; else: svgIcon">
        <mat-icon
          [ngClass]="getClass(context?.iconClass)"
          color="primary"
        >
          {{ context?.icon }}
        </mat-icon>
      </ng-container>
      <ng-template #svgIcon>
        <ng-container *ngIf="context?.svgIcon">
          <mat-icon
            [ngClass]="getClass(context?.iconClass)"
            color="primary"
            svgIcon="{{context?.svgIcon}}"
          >
          </mat-icon>
        </ng-container>
      </ng-template>
    </button>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- ACTION LIST ---------------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellActionList let-context>
  <div fxFlex="100" fxLayoutAlign="center center" fxLayoutGap="16px" [matTooltip]="context?.tooltip">
    <button
      [ngClass]="getClass(context?.class)"
      mat-icon-button
      type="button"
      fxLayoutAlign="center center"
      (click)="callActionCallback(context?.callback, context?.index)"
      [disabled]="context?.disabled"
      appStopEventPropagation
    >
      <ng-container *ngIf="!context?.svgIcon; else: svgIcon">
        <mat-icon
          [ngClass]="getClass(context?.iconClass)"
          color="primary"
        >
          {{ context?.icon }}
        </mat-icon>
      </ng-container>
      <ng-template #svgIcon>
        <ng-container *ngIf="context?.svgIcon">
          <mat-icon
            [ngClass]="getClass(context?.iconClass)"
            color="primary"
            svgIcon="{{context?.svgIcon}}"
          >
          </mat-icon>
        </ng-container>
      </ng-template>
    </button>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- LABEL WITH LOADER ----------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellLabelWithLoading let-context>
  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxFlex="100"
    fxLayoutAlign.gt-sm="space-between center"
    fxLayoutAlign.lt-md="start stretch"
    fxLayoutGap="16px"
    *ngIf="context?.label"
  >
    <div
      class="mobile-label"
      fxLayout.gt-sm="row"
      fxLayout.lt-md="column"
      fxFlex.gt-sm="1 1 100"
      fxFlex.lt-md="0 0 32px"
      fxLayoutAlign.gt-sm="start center"
      fxLayoutAlign.lt-md="center start"
      [ngStyle]="{'width': '100%'}"
    >
      <span
        class="mobile-label"
        fxFlexFill
        fxFlex.sm="100"
        fxFlex.xs="100"
      >
        {{ context?.label }}
      </span>
    </div>
    <div
      fxLayout.gt-sm="row"
      fxLayout.lt-md="column"
      fxFlex.gt-sm="1 1 100"
      fxFlex.lt-md="0 0 32px"
      fxLayoutAlign.gt-sm="{{context?.align === 'left' ? 'start' : 'center'}} center"
      fxLayoutAlign.lt-md="{{context?.align === 'left' ? 'start' : 'center'}} start"
      [ngStyle]="{'width': '100%'}"
    >
      <span
        [ngClass]="{
          'align-left': context?.align === 'left',
          'align-center': context?.align !== 'left'
        }"
        fxFlex.gt-sm="calc(100% - 48px)"
        fxFlex.lt-md="1 1 50%"
        *ngIf="context?.value !== customTableLoading; else: valueLoading"
      >
        {{ context?.value }}
      </span>
      <ng-template #valueLoading>
        <mat-progress-spinner
          [mode]="'indeterminate'"
          [color]="'primary'"
          [strokeWidth]="4"
          [diameter]="24"
          [ngStyle.xs]="{'top': '-4px'}"
        >
        </mat-progress-spinner>
      </ng-template>
    </div>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- ACTION WITH LABEL ---------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellActionWithLabel let-context>
  <div [ngStyle]="{ width: '100%' }" fxLayout="column">
    <div>
      <span class="mobile-label" fxFlexFill fxFlex.sm="100"> {{ context?.label }} </span>
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign.gt-sm="space-around center" fxLayoutAlign.lt-md="start start">
      <span
        class="text-center"
        fxFlex.gt-sm="calc(100% - 48px)"
        fxFlex.lt-md="1 1 50%"
        [ngStyle]="{ height: '100%', 'text-align': 'center' }"
      >
        {{ context?.value }}
      </span>
      <button
        [ngClass]="getClass(context?.class)"
        mat-icon-button
        type="button"
        fxFlex.gt-sm="48px"
        fxFlex.lt-md="1 1 50%"
        fxLayoutAlign="center center"
        (click)="callActionCallback(context?.callback, context?.index)"
        [disabled]="context?.disabled"
        appStopEventPropagation
      >
        <ng-container *ngIf="!context?.svgIcon; else: svgIcon">
          <mat-icon
            [ngClass]="getClass(context?.iconClass)"
            color="primary"
            [matTooltip]="context?.tooltip"
          >
            {{ context?.icon }}
          </mat-icon>
        </ng-container>
        <ng-template #svgIcon>
          <ng-container *ngIf="context?.svgIcon">
            <mat-icon
              [ngClass]="getClass(context?.iconClass)"
              color="primary"
              svgIcon="{{context?.svgIcon}}"
              [matTooltip]="context?.tooltip"
            >
            </mat-icon>
          </ng-container>
        </ng-template>
      </button>
    </div>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- SPINNER --------------------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellSpinner let-context>
  <div
    #tooltip="matTooltip"
    class="progress-spinner-container
      {{!!context?.class ? ' ' + context?.class : ''}}
      {{context?.determinate ? ' determinate' : ' indeterminate'}}
      {{context?.label?.length === 1 ? 'one-digit' : ''}}
      {{context?.label?.length === 2 ? 'two-digit' : ''}}
      {{context?.label?.length === 3 ? 'three-digit' : ''}}
      {{context?.label?.length === 4 ? 'four-digit' : ''}}
      {{context?.label?.length > 4 ? 'more-digit' : ''}}"
    fxLayout="row"
    fxFlex="100"
    fxLayoutAlign.gt-sm="{{context?.align === 'left' ? 'start' : 'center'}} center"
    fxLayoutAlign.lt-md="{{context?.align === 'left' ? 'start' : 'center'}} center"
    fxLayoutGap="16px"
    matTooltip="{{context?.tooltip}}"
    (click)="tooltip?.toggle()"
  >
    <mat-progress-spinner
      fxFlex="0 0 32px"
      [mode]="context?.determinate ? 'determinate' : 'indeterminate'"
      [diameter]="32"
      [value]="context?.value"
      [ngStyle]="{ 'width.px': '32' }"
    >
    </mat-progress-spinner>
    <div
      class="spinner-label"
      *ngIf="!environment?.production && context?.label"
    >
       {{context?.label}}
    </div>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- PROGRESS BAR  ----------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #cellProgressBar let-context>
  <div
    [ngClass]="getClass(context?.class)"
    fxLayout="row"
    fxFlex="100"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    matTooltip="{{context?.tooltip}}"
  >
    <mat-progress-bar
      fxFlex="0 0 24px"
      mode="determinate"
      [value]="context?.value"
    >
    </mat-progress-bar>
  </div>
</ng-template>

<!-- ----------------------------------------------------------------- -->
<!-- MAT TABLE  ----------------------------------------------------- -->
<!-- ----------------------------------------------------------------- -->
<ng-template #matTable>
  <mat-table
    [class.disabled]="disabled"
    [class.isMobile]="true"
    [dataSource]="dataSource"
    [trackBy]="trackByIdx"
    matSort
    (matSortChange)="sortData($event)"
  >
    <ng-container *ngFor="let col of displayColumns; let i = index">
      <ng-container [matColumnDef]="col?.id">
        <ng-container *ngIf="col?.sort">
          <mat-header-cell
            *matHeaderCellDef
            [class.hide]="col?.hidden"
            [class.align-center]="col?.align !== 'left'"
            fxFlex="{{col?.size}}"
            [mat-sort-header]="col?.id"
          >
          <span fxFlex="100">
            {{ col?.label }}
          </span>
          </mat-header-cell>
        </ng-container>
        <mat-cell
          *matCellDef="let row; let j = index"
          [class.disabled]="row?.cols?.disabled"
          [class.mobile-label-hidden]="col?.hidden"
          class="mat-cell {{(row?.cols && row?.cols[i]) ? row?.cols[i][(col?.id)]?.class : ''}} {{(row?.cols && row?.cols[i] && row?.cols[i][(col?.id)]?.action?.type) ? row?.cols[i][(col?.id)]?.action?.type : col?.type}}"
          fxFlex.gt-sm="{{col?.size}}"
          fxFlex.lt-md="0 0 {{(mobileBetterResponsive) ? '100' : col?.size}}"
          (mouseover)="hoverCell = (row?.cols && row?.cols[i]) ? row?.cols[i][(col?.id)]?.action?.tooltip : ''"
          (mouseleave)="hoverCell = false"
        >
          <ng-container *ngIf="row && row?.cols && row?.cols[i]">
            <ng-container *ngIf="row?.cols[i][(col?.id)]; let colid">
              <!-- MAT LOADING ------------------------------------------- -->
              <ng-container
                *ngIf="
                  colid?.type
                    ? colid?.type === cellType?.LOADING
                    : col?.type === cellType?.LOADING
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellLoading;
                    context: {
                      $implicit: {
                        value: colid?.value
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
              <!-- MAT AVATAR ------------------------------------------- -->
              <ng-container
                *ngIf="
                  colid?.type
                    ? colid?.type === cellType?.AVATAR
                    : col?.type === cellType?.AVATAR
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellAvatar;
                    context: {
                      $implicit: {
                        label: colid?.label,
                        value: colid?.value,
                        image: colid?.image,
                        class: colid?.class,
                        align: colid?.align
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
              <!-- MAT CELL VALUES ------------------------------------------- -->
              <ng-container
                *ngIf="
                  colid?.type ? colid?.type === cellType?.LABEL : col?.type === cellType?.LABEL
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellValue;
                    context: {
                      $implicit: {
                        label: col?.label,
                        value: colid?.value,
                        align: colid?.align
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
              <!-- MAT CELL VALUES WITH LOADING ------------------------------- -->
              <ng-container
                *ngIf="
                  colid?.type
                    ? colid?.type === cellType?.LABEL_LOADING
                    : col?.type === cellType?.LABEL_LOADING
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellLabelWithLoading;
                    context: {
                      $implicit: {
                        label: col?.label,
                        value: colid?.value,
                        align: colid?.align
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
              <!-- MAT CELL LONG TEXT ------------------------------------------- -->
              <ng-container
                *ngIf="
                  colid?.type
                    ? colid?.type === cellType?.LABEL
                    : col?.type === cellType?.LONG_TEXT
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellLongText;
                    context: {
                      $implicit: {
                        label: col?.label,
                        value: colid?.value,
                        align: colid?.align
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
              <!-- MAT CELL TWO ROWS --------------------------------- -->
              <ng-container
                *ngIf="
                  colid?.type
                    ? colid?.type === cellType?.TWO_ROWS
                    : col?.type === cellType?.TWO_ROWS
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellTwoRows;
                    context: {
                      $implicit: {
                        label: col?.label,
                        title: colid?.title,
                        description: colid?.description,
                        time: colid?.time,
                        value: colid?.value,
                        align: col?.align
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
              <!-- MAT CELL THREE ROWS --------------------------------- -->
              <ng-container
                *ngIf="
                  colid?.type
                    ? colid?.type === cellType?.THREE_ROWS
                    : col?.type === cellType?.THREE_ROWS
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellThreeRows;
                    context: {
                      $implicit: {
                        label: col?.label,
                        title: colid?.title,
                        description: colid?.description,
                        time: colid?.time,
                        value: colid?.value,
                        align: col?.align
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
              <!-- MAT CELL CHECKBOX ----------------------------------------- -->
              <ng-container *ngIf="(colid?.action?.type) ? colid?.action?.type === cellType?.CHECBOX : col?.type === cellType?.CHECBOX">
                <ng-container
                  *ngTemplateOutlet="
                  cellCheckbox;
                  context: {
                    $implicit: {
                      class: colid?.action?.class,
                      checked: colid?.action?.value,
                      callback: colid?.action.callback,
                      tooltip: colid?.action?.tooltip,
                      disabled: colid?.action?.disabled,
                      index: j
                    },
                    localSk: ''
                  }
                "
                >
                </ng-container>
              </ng-container>
              <!-- MAT CELL ACTIONS ------------------------------------------- -->
              <ng-container
                *ngIf="
                  colid?.action?.type
                    ? colid?.action?.type === cellType?.ACTION
                    : col?.type === cellType?.ACTION
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellAction;
                    context: {
                      $implicit: {
                        class: colid?.action?.class,
                        callback: colid?.action.callback,
                        svgIcon: colid?.action?.svgIcon,
                        icon: colid?.action?.icon,
                        iconClass: colid?.action?.iconClass,
                        tooltip: colid?.action?.tooltip,
                        disabled: colid?.action?.disabled,
                        index: j
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
              <!-- MAT CELL SPINNER ------------------------------------------- -->
              <ng-container
                *ngIf="
                  colid?.type
                    ? colid?.type === cellType?.SPINNNER
                    : col?.type === cellType?.SPINNNER
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellSpinner;
                    context: {
                      $implicit: {
                        class: colid?.class,
                        tooltip: colid?.tooltip,
                        value: colid?.value,
                        label: colid?.label,
                        align: colid?.align,
                        determinate: true,
                        index: j
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
              <!-- MAT CELL SPINNER INDETERMINATE ----------------------------- -->
              <ng-container
                *ngIf="
                  colid?.type
                    ? colid?.type === cellType?.SPINNNER_INDETERMINATE
                    : col?.type === cellType?.SPINNNER_INDETERMINATE
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellSpinner;
                    context: {
                      $implicit: {
                        class: colid?.class,
                        tooltip: colid?.tooltip,
                        value: colid?.value,
                        label: colid?.label,
                        align: colid?.align,
                        determinate: false,
                        index: j
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
              <!-- MAT CELL PROGRESS BAR ------------------------------------------- -->
              <ng-container
                *ngIf="
                  colid?.type
                    ? colid?.type === cellType?.PROGRESS_BAR
                    : col?.type === cellType?.PROGRESS_BAR
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellProgressBar;
                    context: {
                      $implicit: {
                        class: colid?.class,
                        tooltip: colid?.tooltip,
                        value: colid?.value,
                        index: j
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
              <!-- MAT CELL ACTIONS WITH LABEL ------------------------------------------- -->
              <ng-container
                *ngIf="
                  colid?.action?.type
                    ? colid?.action?.type === cellType?.ACTION_WITH_LABEL
                    : col?.type === cellType?.ACTION_WITH_LABEL
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    cellActionWithLabel;
                    context: {
                      $implicit: {
                        label: col?.label,
                        value: colid.action?.value,
                        class: colid?.action?.class,
                        callback: colid?.action.callback,
                        svgIcon: colid?.action?.svgIcon,
                        icon: colid?.action?.icon,
                        iconClass: colid?.action?.iconClass,
                        tooltip: colid?.action?.tooltip,
                        disabled: colid?.action?.disabled,
                        index: j
                      },
                      localSk: ''
                    }
                  "
                >
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </mat-cell>
        <ng-container *ngIf="!col?.sort">
          <mat-header-cell
            *matHeaderCellDef
            [class.hide]="col?.hidden"
            [class.align-center]="col?.align !== 'left'"
            fxFlex="{{col?.size}}"
          >
          <span fxFlex="100">
            {{ col?.label }}
          </span>
          </mat-header-cell>
        </ng-container>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns" [class.hide]="hideHeaderRow()"></mat-header-row>
  </mat-table>

  <ng-container *ngIf="usePaginator">
    <mat-paginator
      [length]="totalItems"
      [pageSizeOptions]="paginatorStep ? paginatorStep : [5, 10, 25]"
      [pageSize]="pageSize ? pageSize : 10"
      [pageIndex]="pageIndex ? pageIndex : 0"
      (page)="paginatorEvent($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </ng-container>
</ng-template>
